* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;


}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  /* display: flex; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/images/watercolour-1755757_1920.jpg);
  background-size: cover;
  /* background-repeat: no-repeat; */

  /* background-position: center center;
  background-attachment: fixed; */

  /* background-repeat: no-repeat; */
  /* position: relative; */
  flex: 1;

}   



body:after {

  content:"";
  position:fixed; 
  top:0;
  height:100vh; 
  left:0;
  right:0;
  z-index:-1;
  background-image: url(/images/watercolour-1755757_1920.jpg) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
/* 
.App {
  height: 100%;
  width: 100%;
} */

/* .content-container {
  background-image: url(/images/watercolour-1755757_1920.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100%;
  width: 100%;
} */




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}


.header {
  display: flex;  
  justify-content: right;
  background-color: rgb(235, 121, 121);
  font-family: fantasy;
  font-weight: 900;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header h1 {
  font-size: 18px;
}

.nav {
  justify-content: right;
  align-items: flex-end;
}
.nav a {
  float: right;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(36, 190, 170);
}

.login-form-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.login-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(235, 121, 121);
  background: rgb(235, 121, 121);
  opacity: 0.85;
  /* background-color: rgb(55, 175, 175); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  margin: 20px;
  padding-top: 20px;
  text-align: center;
  border-radius: 15px;
  padding-bottom: 20px;

}

.login-input {
 
  border-radius:26px;
  display:inline-block;
  border:1px solid #cccccc;
  padding: 5px;
  margin: 10px;
  width: 250px;
  }

.login-submit {
    border-radius:15px;
    background-color: rgb(196, 12, 54);
    color: white;
    padding: 5px;
  }


.main-content {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  font-weight: 600;
  font-size: 16px;
/* font-size: larger; */
}

.wine-form-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.profile-information {

  height: 100%;
}

.wine-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(235, 121, 121);
  background: rgb(235, 121, 121);
  opacity: 0.85;
  /* background-color: rgb(55, 175, 175); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  margin: 20px;
  padding-top: 20px;
  text-align: center;
  border-radius: 15px;
  padding-bottom: 20px;

}

.wine-input {
 
  border-radius:26px;
  display:inline-block;
  border:1px solid #cccccc;
  padding: 5px;
  margin: 10px;
  width: 250px;
  
  }

  .wine-input-label {
    border-radius:26px;
    display:inline-block;
    border:1px solid #cccccc;
    padding: 5px;
    margin: 10px;
    width: 250px;

  }


  .wine-search-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .wine-search-box {
  

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(235, 121, 121);
    background: rgb(235, 121, 121);
    opacity: 0.85;
    /* background-color: rgb(55, 175, 175); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    margin: 20px;
    padding-top: 20px;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 20px;
  }

  .wine-search-text {
    font-size: 18px;
    color: black;
  }

  

  .wine-search-btn { 
    border-radius:15px;
    background-color: rgb(196, 12, 54);
    color: white;
    padding: 5px;
    margin-bottom: 10px;
    justify-content: flex-end;

  }

 .wine-submit {
  border-radius:15px;
  background-color: rgb(196, 12, 54);
  color: white;
  padding: 5px;


 } 
.rated-wines-title {
  justify-content: center;
  font-size: 24px;
  font-family: fantasy;
  text-decoration: underline;
  padding-top: 20px;
  font-weight: 900;
}

.wine-list-container {
  display: flex;
  align-content: space-between;
  justify-content: center;
  display: flex;
  display:inline-block;
  align-items: center;
  flex: 1 0 auto;
  justify-content: center;

  
}

.rated-wine-cards {

  flex-flow: row wrap;

  justify-content: center;
  align-content: center;
  flex-direction: row;
  display: flex;
  display:inline-block;
  flex-direction: row;
  align-items: center;
  flex: 0 0 auto;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  /* max-width: 200px;
  min-width: 200px;
  min-height: 500px;
  max-height: 500px; */
  height: 500px;
  width: 200px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.label-container  {
  /* height: auto; 
  width: auto;  */
  height: auto; 
  width: auto; 
  height: 250px;
  width: 200px;
  /* max-height: 250px;
  max-width: 200px; */

}

.label-container img {
  max-width: 200px; 
  max-height: 200px;
  background-size: contain;
}

.wine-edit {
  border-radius:15px;
  background-color: rgb(196, 12, 54);
  color: white;
  border: none;
  margin-left: 5px;
}

.wine-glasses {
  justify-content: space-around;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.wine-search-result-card {
  display: flex;
  display:inline-block;
  align-items: center;
  flex: 1 0 auto;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  max-width: 200px;
  min-width: 200px;
  /* min-height: 300px;
  max-height: 300px; */
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wine-search-result-card li {
  text-align: left;
  list-style: none;
  margin-top: 2px;
  padding-left: 10px;
  overflow: hidden;
}

.fav-button {
  border: none;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(235, 121, 121);
  padding-top: 10px;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  flex-shrink: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  height: 80px;

}



@media only screen and (min-width: 992px) {
  body html {
    background-image: url(/images/watercolour-1755757_1920.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    width: 100%;
    height: 100%;
  }

 .header h1{
   font-size: 38px;
  
 }
 .footer {
   font-size: 14px;


 }
 .content-container {
  height: 100%;
  width: 100%;
}
}


@media only screen and (min-width: 600px) {
  body {
    background-image: url(/images/watercolour-1755757_1920.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    width: 100%;
    height: 100%;
  }

 .header h1{
   font-size: 38px;
  
 }
 .footer {
   font-size: 14px;

 }
 .content-container {
  height: 100%;
  width: 100%;
}
}

@media only screen and (min-width: 1200px) {
  body {
    background-image: url(/images/watercolour-1755757_1920.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    width: 100%;
    height: 100%;
  }

 .header h1{
   font-size: 38px;
  
 }
 .footer {
  font-size: 14px;

 }
 .content-container {
  height: 100%;
  width: 100%;
  flex: 1;

}
}